@import "../../Global.scss";

.Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
    @media (max-width: $mobile) {
        overflow: hidden;
    }
    .wrapper {
        display: flex;
        width: 100%;
        @media (max-width: $mobile) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
        }
        .left {
            flex: 0.5;
            overflow: hidden;
            // background-color: blue;
            justify-content: center;
            align-items: center;
            .imgContainer {
                // width: 700px;
                // height: 700px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    object-fit: contain;
                    height: fit-content;
                    width: 60%;
                    border-radius: 50%;
                    @media (max-width: $mobile) {
                        width: 50%;
                        box-sizing: border-box;
                        margin: 10px;
                    }
                }
            }
        }
        .right {
            display: flex;
            flex: 0.5;
            // background-color: yellow;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            @media (max-width: $mobile) {
                height: 500px;
                // display: block;
                margin: 10px;
            }
            .text {
                height: fit-content;
                width: 100%;
                // padding-left: 50px;
                @media (max-width: $mobile) {
                    text-align: center;
                    // height: 280px;
                    height: 275px;
                    display: block;
                    width: 250px;
                    position: static;
                    margin: 10px;
                }

                h1 {
                    font-size: 60px;
                    margin: 10px 0;
                    height: fit-content;
                    @media (max-width: $mobile) {
                        font-size: 55px;
                    }
                }
                h2 {
                    font-size: 35px;
                    height: fit-content;
                }
                h3 {
                    font-size: 30px;
                    height: fit-content;
                    span {
                        color: crimson;
                    }
                }
            }
            .ico {
                height: fit-content;
                a {
                    // height: fit-content;
                    display: flex;
                    height: fit-content;
                    justify-content: center;
                    position: absolute;
                    bottom: 20px;
                    width: fit-content;
                    right: 50%;
                    animation: arrow 2s infinite;
                    @media (max-width: $mobile) {
                        // right: calc((100vw /2) - 75px);
                        // bottom: 5px;
                        right: calc(50vw - 50px);
                        position: static;
                    }

                    :first-child {
                        height: 100px;
                        width: fit-content;
                        margin: 0;
                        padding: 0;
                        @media (max-width: $mobile) {
                            height: 65px;
                        }
                    }

                    @keyframes arrow {
                        100% {
                            opacity: 0;
                            bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
