@import "../../Global.scss";
.Testimonials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        height: 400px;
        width: 250px;
        box-shadow: 0px 0px 15px -8px black;
        margin: 0 15px;
        transition: all 0.1s ease-in-out;
        @media (max-width: $mobile) {
            height: 150px;
            width: 250px;

            margin: 15px;
            justify-content: center;
        }
        &.featured {
            height: 430px;
            width: 270px;
            @media (max-width: $mobile) {
                // height: 400px;
                height: 150px;
                width: 250px;
                margin: 15px;

            }
        }
        &:hover {
            transform: scale(1.05);
            margin: 0 20px;
        }
        .top {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            @media (max-width: $mobile) {
                overflow: hidden;
                height: 60px;
            }

            img {
                width: 35px;
                height: 35px;
                margin-right: 10px;
                @media (max-width: $mobile) {
                    width: 20px;
                    height: 20px;
                }
            }
            .user {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                @media (max-width: $mobile) {
                    width: 50px;
                    height: 50px;
                    // margin: 10px;
                }
            }
        }
        .middle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: fit-content !important;
            @media (max-width: $mobile) {
                overflow: hidden;
                font-size: 14px;
            }
            p {
                background-color: rgb(255 229 234 / 30%);
                border-radius: 10px;
                padding: 10px;
            }
        }
        .lower {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            h3 {
                @media (max-width: $mobile) {
                    overflow: hidden;
                }
            }
            h4 {
                color: gray;
                font-size: large;
                font-weight: 600;
                margin-top: 10px;
                @media (max-width: $mobile) {
                    margin-top: 0;
                    overflow: hidden;
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .Testimonials .container .top {
        display: none;
    }

    .Testimonials .container {
        margin: 5px;
    }
}
